@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #E5E5E5;
  --textColor: #31304D;
  --primaryMainColor: #B6BBC4;
  --primaryAccentColor: #161A30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #27374D;
    --textColor: #9DB2BF;
    --primaryMainColor: #526D82;
    --primaryAccentColor: #DDE6ED;
  }
}
